<h1>Admin::Dashboard#show</h1>
<h3>Here is a count of how many products are in the database:</h3>

<h1><%= @total_products %></h1>

<h3>Here is a count of how many categories are in the database:</h3>
<h1><%= @total_categories %></h1>
