<h1 class="text-info text-center">Were you looking for some stats?</h1>
<h3 class="text-center">Here is a count of how many products are in the database:</h3>

<h1 class="text-success text-center"><%= @total_products %></h1>

<h3 class="text-center">Here is a count of how many categories are in the database:</h3>
<h1 class="text-success text-center"><%= @total_categories %></h1>
